.specification-edit-card {
  &[data-disabled='true'] {
    filter: grayscale(1);
  }

  > button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }

  .media {
    flex: 1 1 0;
    height: 78px;
  }

  .content {
    flex: 1.7 1.7 0;
  }
}