.edit-page-group-title {
  position: absolute;
  max-width: calc(100% - 20px);
  left: 10px;
  top: 0;
  transform: translate(0, -50%);
  background: #fff;
  padding: 5px 8px;
  line-height: 100%;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.7), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.edit-page-html-field, .edit-page-multiple-relation-list-field {
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  position: relative;
  transition: border-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

  &:hover {
    border-color: rgba(0, 0, 0, 0.87);
  }

  &.error {
    border-color: #f44336!important;
  }

  &.error &-caption {
    color: #f44336;
  }

  &-caption {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    background: #ffffff;
    letter-spacing: 0.00938em;
    transform: translate(0, -52%) scale(0.75);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    position: absolute;
    top: 0;
    left: 4px;
    padding: 6px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.edit-page-multiple-relation-list-field {
  padding: 14px;

  .label {
    font-size: 0.8125rem;
  }

  .checkbox {
    padding: 0 5px 0 9px;
  }

  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    > div:nth-of-type(1) {
      flex-grow: 1;
    }

    > div:nth-of-type(2) {
      padding-left: 16px;
    }
  }
}

.edit-field-autocomplete-input {
  > .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 6.5px;
    padding-left: 14px;
    padding-right: 14px!important;
    flex-wrap: nowrap;

    .MuiAutocomplete-input {
      min-width: auto;
      padding: 9.5px 0;
    }

    .left-block {
      height: auto;
      max-height: none;
      max-width: 70%;

      .chooses {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .edit-field-autocomplete-arrow {
    > div {
      display: inline;
      top: auto;
      position: relative;
      right: auto!important;
    }
  }
}

.edit-field-datetime-input {
  &.with-left-padding {
    input {
      padding-left: 16px;
    }
  }

  input {
    padding: 16px 0;
  }

  .edit-field-datetime-calendar > div {
    margin: 0 -3.5px 0 0;
  }
}

.edit-field-checkbox {
  padding: 0 9px!important;
}

.edit-field-switch {
  margin: -8px 0 -8px -11px;
}
