.add-loading-unloading-button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;

  font-size: 14px;
  text-align: center;
  line-height: 200%;
  color: #a6a6a6;

  border: 2px dashed #a6a6a6;
  cursor: pointer;
  border-radius: 4px;

  transition: 0.2s color, 0.2s border-color;

  &:hover {
    border-color: #616161;
    color: #616161;
  }

  &.error {
    color: #f44336!important;
    border-color: #f44336!important;
  }
}

.loading-unloading-error {
  color: #f44336!important;
  border-color: #f44336!important;
}

.shoulder-type-selector {
  margin-bottom: 8px;
}

.loading-checkbox-field {
  .MuiTypography-body1 {
    font-size: 12px;
  }
}

tr.loading-unloading-offer-error-row td {
  color: #f44336!important;
}