.search-results-block {
  position: fixed;
  width: 100%;
  right: 16px;
  top: 64px;
  box-sizing: border-box;
  padding: 16px 0;
  max-width: 25vw;

  @media all and (max-width: 1600px) {
    max-width: 30vw;
  }

  @media all and (max-width: 1376px) {
    max-width: 35vw;
  }

  @media all and (max-width: 1200px) {
    max-width: 40vw;
  }

  @media all and (max-width: 1000px) {
    max-width: 45vw;
  }

  @media all and (max-width: 900px) {
    max-width: calc(100vw - 32px);
  }

  @media all and (max-width: 600px) {
    top: 56px;
  }

  .search-results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;

    .search-list-card {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      align-content: flex-start;
      cursor: pointer;
      transition: background-color 200ms;
      background: transparent;

      &:hover {
        background: rgba(30, 136, 229, 0.2);
      }

      >div:first-of-type {
        .MuiAvatar-root {
          .MuiSvgIcon-root {
          }
        }
      }

      >div:last-of-type {
        flex: 1 0;

        > div:first-of-type {
          font-size: 10px;
          color: #8e8e8e;
          padding-bottom: 2px;
        }

        > div:last-of-type {
          font-size: 12px;
        }
      }
    }
  }
}
