.shoulder-steps {
  $color: #e0e0e0;
  $circleSize: 30px;
  $background: #fafafa;
  $mainBorderWidth: 4px;

  padding-bottom: 8 * 8px;

  &--component {
    position: relative;
  }

  &--container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    z-index: 1;
  }

  &--background {
    height: $mainBorderWidth;
    background: $color;
    width: 100%;
    position: absolute;
    top: calc(50% - 2px);
  }

  &--point {
    background: $background;
    border: $mainBorderWidth solid $color;
    border-radius: $circleSize;
    flex: 0 0 $circleSize;
    overflow: hidden;
    font-weight: bold;
    width: $circleSize;
    height: $circleSize;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
  }

  &--title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &--field {
    $padding: 12px;

    border: $mainBorderWidth solid $color;
    border-radius: $mainBorderWidth * 2;
    background: $background;
    padding: $padding;

    width: 220px;
    margin-right: 16px;
    margin-left: 16px;

    &.error {
      margin-bottom: -19px;
    }

    &.terminal {
      width: 400px;
      position: relative;

      > div:first-of-type {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding-bottom: $padding;
      }

      .terminal--title {
        flex: 1 1 0;
        font-size: 0.875rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        line-height: 1.75;
        letter-spacing: 0.02857em;
        text-transform: uppercase;
        text-align: center;
        text-overflow: ellipsis;
      }

      .delete-button {
        position: absolute;
        z-index: 1;
        top: -20px;
        right: -20px;
      }
    }
  }
}