.permission-choose-tree-item {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: calc(50% + 1px);
    left: calc(50% - 1px);
    top: 0;
    background: #E5E5E5;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 35%;
    height: 2px;
    left: 50%;
    top: calc(50% - 1px);
    background: #E5E5E5;
  }

  &.inner {
    border-color: transparent!important;

    &:before {
      content: "";
      height: calc(100% + 1px);
    }
  }
}