.handsontable {
  $color: #2e7d32;
  $textColor: #fff;

  td, th {
    &.preparing-selected-row {
      position: relative;
      overflow: visible;

      > span.border {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -1px;
        left: -1px;

        border: 1px solid $color;
        box-shadow: 0 0 0 1px $color;

        > span {
          position: absolute;
          display: block;
          bottom: 100%;
          right: -2px;
          font-size: 9px;
          font-weight: 400;
          line-height: 100%;
          padding: 3px 5px 2px 6px;
          background: $color;
          color: $textColor;
        }
      }

      > span.content {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
      }

      .tnved-name-detail {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 150;
        width: 100%;
        border: 8px solid rgba(#2e7d32, .3);
        box-sizing: border-box;

        &.top {
          top: auto;
          bottom: 100%;
        }

        > span {
          display: block;
          background: #fff;
          padding: 8px 16px;
          color: rgba(0, 0, 0, 0.87);

          font-size: 11px;
          font-weight: 300;

          > span {
            display: block;
            margin-bottom: 8px;

            > span:nth-of-type(1) {
              font-weight: 600;
            }

            @for $i from 0 through 15 {
              &[data-position='#{$i}'] {
                $padding: 8px * $i;
                padding-left: $padding;
              }
            }

            &.description {
              margin-top: -8px;
              font-weight: 500;
            }
          }
        }
      }

      &:hover .tnved-name-detail {
        display: block;
      }

      &.error, &.warning {
        background-color: #ffebee;

        &.warning {
          background-color: #fff3e0;
        }

        .error-data {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          z-index: 150;
          width: 100%;
          border: 8px solid rgba(#d32f2f, .3);
          border-collapse: unset;
          background: transparent;
          box-sizing: border-box;
          color: rgba(0, 0, 0, 0.87);

          font-size: 11px;
          font-weight: 400;

          &.top {
            top: auto;
            bottom: 100%;
          }

          > span {
            padding: 8px 16px;
            display: block;
            background-color: #fff;
          }
        }

        &:hover .error-data {
          display: block;
        }

        .warning-data {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          z-index: 150;
          width: 100%;
          border: 8px solid rgba(#ef6c00, .3);
          border-collapse: unset;
          background: transparent;
          box-sizing: border-box;
          color: rgba(0, 0, 0, 0.87);

          font-size: 11px;
          font-weight: 400;

          &.top {
            top: auto;
            bottom: 100%;
          }

          > span {
            padding: 8px 16px;
            display: block;
            background-color: #fff;
          }
        }

        &:hover .warning-data {
          display: block;
        }

        .with-button {
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;
          grid-gap: 8px;

          .button {
            display: block;
            padding: 1px 8px;
            background-color: #66bb6a;
            color: #fff;
            cursor: pointer;
            transition: .25s background-color;
            border-radius: 3px;

            &:hover {
              background-color: #1b5e20;
            }

            &[data-processing="true"] {
              background-color: #c4c4c4!important;
              cursor: progress;
            }
          }
        }
      }
    }
  }
}
