.tnved-codes-list--item {
  display: block;
  position: relative;
  padding-bottom: 8px;

  &:last-of-type {
    padding-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    left: 5px;
    background: #D0E1F1;
  }

  @for $i from 0 through 15 {
    &[data-level='#{$i}'] .inner-block {
      $firstCol: 210px - $i * 22;

      grid-template-columns: $firstCol 14px 1fr auto;
    }

    &[data-level='#{$i}'] .info-block {
      $firstCol: 244px - $i * 22;

      padding-left: $firstCol;
    }
  }

  &-data {
    display: grid;
    grid-template-columns: 12px 1fr;
    align-items: center;
    grid-gap: 8px;
    z-index: 1;
    position: relative;

    .sub-menu-button {
      line-height: 12px;
      height: 12px;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 14px;
        top: 50%;
        left: 50%;
        background: #D0E1F1;
      }

      svg {
        position: relative;
        transform: rotate(180deg);
        transition: .25s transform;

        color: #fff;
        fill: #0EAB70;
        z-index: 1;

        circle {
          color: #0EAB70;
        }
      }

      &.active {
        svg {
          transform: rotate(0);
          color: #0EAB70;
          fill: #fff;
        }
      }
    }

    .add-button {
      color: transparent;
      transition: .25s color;

      &.hover {
        color: #0EAB70;
      }

      &.active {
        color: #3460B4;
      }
    }

    .inner-block {
      display: grid;
      align-items: center;
      grid-gap: 8px;
      padding: 5px;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }

    .code {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
    }

    .name {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
    }

    .actions {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 15px;
      padding-right: 15px;

      svg {
        cursor: pointer;
        color: #A9B2C6;
        transition: .25s color;

        &:hover {
          color: #3460B4;
        }
      }
    }

    &.root {
      .inner-block {
        background: #F4F6F8;
      }

      .code {
        font-weight: 600;
      }
    }

    &.info {
      .inner-block {
        box-shadow: -1px 0 0 0 #3460B4;
      }

      .sub-menu-button {
        svg {
          color: #fff;
          fill: #3460B4;

          circle {
            color: #3460B4;
          }
        }

        &.active {
          svg {
            color: #3460B4;
            fill: #fff;
          }
        }
      }
    }

    &.info + .info-block {
      margin-top: 8px;
      margin-left: 20px;
      box-shadow: -1px 0 0 0 #3460B4;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      padding-right: 38px;
    }
  }

  .sub-items-list {
    margin-top: 8px;
    padding-left: 22px;
  }
}