.shoulder-offer-list-item {
  display: grid;
  grid-template-columns: 150px 110px 160px 150px 1fr auto;
  grid-column-gap: 16px;
  align-content: stretch;

  > .cargo-type-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4px;
    grid-column-gap: 16px;
    align-content: center;
    text-align: center;

    .cargo-type {
      grid-column: 1 / span 2;
      font-size: 18px;
      font-weight: 200;
    }

    .containers {
      font-size: 14px;
      text-align: right;
      font-weight: 800;
    }

    .affiliation {
      text-align: left;
    }
  }

  .time {
    display: grid;
    grid-template-columns: 24px auto;
    grid-column-gap: 8px;
    grid-row-gap: 4px;

    align-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 200;
  }

  .loading {
    display: grid;
    grid-template-columns: 24px auto;
    grid-column-gap: 8px;
    grid-row-gap: 4px;

    align-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 200;
  }

  .delivery-modes {
    display: grid;
    grid-row-gap: 4px;
    align-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }

  .offer-conditions {
    display: grid;
    grid-row-gap: 24px;
    align-content: center;
    align-items: center;
  }

  > .buttons {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
  }
}