.location-or-terminal-block {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  grid-gap: 4px;
  grid-template-areas:
    "icon name"
    "icon parent"
  ;

  max-width: none;
  overflow: hidden;
  white-space: nowrap;

  > div {
    line-height: 100%;

    &:nth-of-type(1) {
      grid-area: icon;
      color: #fb8c00;
      font-size: 32px;
    }

    &:nth-of-type(2) {
      grid-area: name;
      font-weight: 400;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:nth-of-type(3) {
      grid-area: parent;
      font-weight: 300;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}