.route-header {
  display: grid;
  grid-template-areas:
    "shoulder from to"
    "icon locationFrom locationTo"
    "icon contractor price"
  ;
  grid-template-columns: 300px 1fr 1fr;
  align-items: stretch;

  > div:nth-of-type(1) {
    grid-area: shoulder;
    padding: 8px 16px;
    text-align: center;
    background: #43a047;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div:nth-of-type(1) {
      font-size: 14px;
      font-weight: 500;
    }

    > div:nth-of-type(2) {
      font-size: 13px;
      font-weight: 300;
    }
  }

  > div:nth-of-type(2) {
    grid-area: icon;
  }

  > div:nth-of-type(3) {
    grid-area: from;
    padding: 8px 16px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 3px 0 #43a047;
    background: rgba(#43a047, 0.18);
  }

  > div:nth-of-type(4) {
    grid-area: locationFrom;
    padding: 16px;

    .location-or-terminal-block {
      grid-column-gap: 16px;
    }
  }

  > div:nth-of-type(5) {
    grid-area: to;
    padding: 8px 16px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 3px 0 #43a047;
    background: rgba(#43a047, 0.18);
  }

  > div:nth-of-type(6) {
    grid-area: locationTo;
    padding: 16px;

    .location-or-terminal-block {
      grid-column-gap: 16px;
    }
  }

  > div:nth-of-type(7) {
    grid-area: contractor;
    padding: 8px 8px 8px 24px;
    font-weight: 300;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      font-weight: 500;
    }
  }

  > div:nth-of-type(8) {
    grid-area: price;
    padding: 8px 24px 8px 24px;
    font-weight: 300;
    font-size: 0.75rem;
    display: grid;
    align-items: center;
    text-align: right;
    grid-template-columns: 1fr max-content;
    grid-gap: 0 16px;
    grid-template-areas:
      "price caption"
      "price secondaryPrice"
    ;

    > div:nth-of-type(1) {
      grid-area: caption;
    }

    > div:nth-of-type(2) {
      grid-area: price;
      font-weight: 300;
      font-size: 24px;
    }

    > div:nth-of-type(3) {
      grid-area: secondaryPrice;
      font-weight: 500;
    }
  }
}